<div *ngIf="announcement">
  <h2>Update Announcement</h2>
  <div class="form-group">
    <label>Label Name</label>
    <input type="text" [(ngModel)]="announcement.labelName" />

    <label>Message Body</label>
    <textarea [(ngModel)]="announcement.messageBody"></textarea>

    <label>Announcement Date</label>
    <input type="date" [(ngModel)]="announcement.announcementDate" />
  </div>

  <button
    (click)="onSubmit()"
    style="
      border-radius: 10px;
      background-color: rgb(7, 7, 164);
      padding: 10px;
      color: rgb(231, 231, 229);
      margin-left: 40px;
      margin-top: 30px;
    "
  >
    Update Announcement
  </button>
</div>
