.space{

margin-bottom: 30px;
color: aliceblue;

}
.border.border-dark {
    margin-bottom: 50px; /* Adjust the margin value as needed */
  }
  .my-buttons{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 15%;
    margin-top: 200px;
    
    
    }
    