<form [formGroup]="ntastoryForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="header">Header:</label>
    <input
      type="text"
      id="header"
      formControlName="header"
      placeholder="Enter header text"
    />
  </div>

  <div class="form-group">
    <label for="body">Body:</label>
    <textarea
      id="body"
      formControlName="body"
      placeholder="Enter body text"
    ></textarea>
  </div>

  <div class="form-group">
    <label for="publishedTo">Published To:</label>
    <select id="publishedTo" formControlName="publishedTo">
      <option value="1">Admin</option>
      <option value="2">HR</option>
      <option value="3">User</option>
    </select>
  </div>

  <div class="form-group">
    <label for="announcementDate">Announcement Date:</label>
    <input
      type="datetime-local"
      id="announcementDate"
      formControlName="announcementDate"
    />
  </div>

  <button
    type="submit"
    [disabled]="!ntastoryForm.valid"
    style="
      border-radius: 10px;
      background-color: rgb(7, 7, 164);
      padding: 10px;
      color: rgb(231, 231, 229);
      margin-left: 40px;
      margin-top: 30px;
    "
  >
    Add Ntastory
  </button>
</form>
