.my-buttons{

    margin-top: 100px;
    
    
    }

    .action-buttons{


        display: flex;
        gap: 10px;
    }

    .table thead th {
        background-color: rgb(6, 39, 6);
        color: white; 
      }
    
      .table {
        border-collapse: collapse; 
        width: 100%; 
        border: 1px solid #000;
      }

      .hover-container {
        position: relative;
        display: inline-block;
      }
      
      .hover-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        text-decoration: underline;
      }
      
      .hover-message {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 5px;
        border-radius: 4px;
        bottom: 100%;
        left: 50%; 
        transform: translateX(-50%);
        z-index: 1;
      }
      
      .hover-container:hover .hover-message {
        display: block;
      }
      