<div>
  <form (ngSubmit)="onFormSubmit()">
    <input
      type="text"
      [(ngModel)]="model.username"
      name="username"
      placeholder="Username"
      required=""
    />
    <input
      type="email"
      [(ngModel)]="model.email"
      name="email"
      placeholder="Email"
      required=""
    />
    <input
      type="password"
      [(ngModel)]="model.password"
      name="password"
      placeholder="Password"
      required=""
    />

    <input
      type="text"
      [(ngModel)]="model.role"
      name="role"
      placeholder="role"
      required=""
    />

    <button type="submit">Submit</button>
  </form>
</div>

<div><button routerLink="/signin-component">already have account</button></div>
