<div
  class="container-fluid full-height"
  (click)="handleClick($event)"
  style="background-color: rgb(255, 255, 255)"
>
  <div class="row">
    <div class="col-md-2" *ngIf="!sidebarVisible">
      <button
        type="button"
        class="btn btn-secondary btn-sm position-fixed top-0 start-0"
        id="sidebarToggleBtn"
        style="margin-top: 200px; padding-top: 20px; padding-bottom: 180px"
        (click)="toggleSidebar()"
      ></button>
    </div>

    <div
      class="sidebar col-md-2 full-height"
      style="background-color: aliceblue; display: none"
      id="sidebar"
    >
      <div class="my-buttons" style="margin-top: 200px">
        <button
          style="padding: 20px 10px 20px 10px"
          type="button"
          class="btn btn-secondary w-100 mb-1 border border-dark border-2"
        >
          Dashboard
        </button>

        <button
          style="padding: 20px 10px 20px 10px"
          type="button"
          class="btn btn-secondary w-100 mb-1 border border-dark border-2"
          routerLink="/admin-announcement"
        >
          Announcements and news
        </button>

        <button
          style="padding: 20px 10px 20px 10px"
          type="button"
          class="btn btn-secondary w-100 mb-1 border border-dark border-2"
          routerLink="/admin-ntastory"
        >
          NTA Story & Roots
        </button>

        <button
          style="padding: 20px 10px 20px 10px"
          type="button"
          class="btn btn-secondary w-100 mb-1 border border-dark border-2"
          routerLink="/meeting-calendar"
        >
          NTA Calendar
        </button>

        <button
          style="padding: 20px 10px 20px 10px"
          type="button"
          class="btn btn-secondary w-100 mb-1 border border-dark border-2"
        >
          Discover Your Magic Tools
        </button>

        <button
          style="padding: 20px 10px 20px 10px"
          type="button"
          class="btn btn-secondary w-100 mb-1 border border-dark border-2"
          routerLink="/meeting-calendar"
        >
          My Meetings
        </button>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-9"><p>.</p></div>
        <div class="col-md-3">
          <button
            routerLink="/add-announcement"
            style="
              border-radius: 10px;
              background-color: rgb(29, 55, 31);
              padding: 10px;
              color: rgb(231, 231, 229);
              margin-left: 40px;
              margin-top: 30px;
            "
          >
            Add Announcement
          </button>
        </div>
      </div>

      <div>
        <h2>Admin Announcements</h2>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Label Name</th>
              <th>Created By</th>
              <th>Updated By</th>
              <th>Last Updated Date</th>
              <th>body</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let historyItem of announcementHistory">
              <td>{{ historyItem.announcementId }}</td>
              <td>{{ historyItem.labelName }}</td>
              <td>{{ historyItem.createdBy }}</td>
              <td>{{ historyItem.lastUpdatedBy }}</td>
              <td>{{ historyItem.lastUpdatedDate }}</td>
              <td>
                <div
                  class="hover-container"
                  (mouseenter)="
                    onDisplayAnnouncement(historyItem.announcementId)
                  "
                  (mouseleave)="hideMessage()"
                >
                  <button type="button" class="hover-button">
                    <i class="fa fa-info-circle"></i>
                  </button>
                  <div class="hover-message" *ngIf="hoveredAnnouncementMessage">
                    {{ hoveredAnnouncementMessage }}
                  </div>
                </div>
              </td>

              <td>
                <div class="action-buttons">
                  <button
                    type="button"
                    class="btn btn-secondary p-1 border border-dark border-1"
                    style="background-color: rgb(6, 39, 6)"
                    [routerLink]="[
                      '/update-announcement',
                      historyItem.announcementId
                    ]"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>

                  <button
                    type="button"
                    class="btn btn-secondary p-1 border border-dark border-1"
                    style="background-color: rgb(6, 39, 6)"
                    (click)="onDeleteAnnouncement(historyItem.announcementId)"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
