<div
  class="container-fluid full-height"
  (click)="handleClick($event)"
  style="background-color: rgb(255, 255, 255)"
>
  <div class="row">
    <div class="col-md-2" *ngIf="!sidebarVisible">
      <button
        type="button"
        class="btn btn-secondary btn-sm position-fixed top-0 start-0"
        id="sidebarToggleBtn"
        style="margin-top: 200px; padding-top: 20px; padding-bottom: 180px"
        (click)="toggleSidebar()"
      ></button>
    </div>

    <div
      class="sidebar col-md-2 full-height"
      style="background-color: aliceblue; display: none"
      id="sidebar"
    >
      <div class="my-buttons" style="margin-top: 200px">
        <button
          style="padding: 20px 10px 20px 10px"
          type="button"
          class="btn btn-secondary w-100 mb-1 border border-dark border-2"
        >
          Dashboard
        </button>

        <button
          style="padding: 20px 10px 20px 10px"
          type="button"
          class="btn btn-secondary w-100 mb-1 border border-dark border-2"
          routerLink="/employee-announcement"
        >
          Announcements and news
        </button>

        <button
          style="padding: 20px 10px 20px 10px"
          type="button"
          class="btn btn-secondary w-100 mb-1 border border-dark border-2"
          routerLink="/employee-ntastory"
        >
          NTA Story & Roots
        </button>

        <button
          style="padding: 20px 10px 20px 10px"
          type="button"
          class="btn btn-secondary w-100 mb-1 border border-dark border-2"
          routerLink="/meeting-calendar"
        >
          NTA Calendar
        </button>

        <button
          style="padding: 20px 10px 20px 10px"
          type="button"
          class="btn btn-secondary w-100 mb-1 border border-dark border-2"
        >
          Discover Your Magic Tools
        </button>

        <button
          style="padding: 20px 10px 20px 10px"
          type="button"
          class="btn btn-secondary w-100 mb-1 border border-dark border-2"
          routerLink="/meeting-calendar"
        >
          My Meetings
        </button>
      </div>
    </div>

    <div
      class="col-md-10"
      style="border-radius: 10px; padding: 10px; margin-top: 50px"
    >
      <div *ngFor="let ntastory of hrNtaStories">
        <div
          style="border-radius: 10px"
          *ngIf="shouldDisplay(ntastory.announcementDate)"
        >
          <h2>Title : {{ ntastory.title }}</h2>
          <p>Created by : {{ ntastory.createdby }}</p>
        </div>
        <div
          class="border border-dark"
          style="border-radius: 10px; padding: 20px; margin-bottom: 60px"
          *ngIf="shouldDisplay(ntastory.announcementDate)"
        >
          <h4>Story : {{ ntastory.body }}</h4>
          <div class="space"><p>.</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
