.week {
    display: flex;
  }
  
  .day {
    flex: 1;
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
  }

  .days .week .day.has-meeting {
    background-color: rgb(12, 6, 81) !important; 
    color: rgb(255, 255, 255);
  }
  .meeting-text {
    font-weight: bold;
    color: rgb(255, 255, 255); 
   
  }