<div *ngIf="ntaStory">
  <h2>Update NTA Story</h2>
  <div class="form-group">
    <label>Header</label>
    <input type="text" [(ngModel)]="ntaStory.Header" />

    <label>Body</label>
    <textarea [(ngModel)]="ntaStory.body"></textarea>

    <label>Announcement Date</label>
    <input type="date" [(ngModel)]="ntaStory.announcementDate" />
  </div>

  <button
    (click)="onSubmit()"
    style="
      border-radius: 10px;
      background-color: rgb(7, 7, 164);
      padding: 10px;
      color: rgb(231, 231, 229);
      margin-left: 40px;
      margin-top: 30px;
    "
  >
    Update NTA Story
  </button>
</div>
